.list {
  margin-top: 1rem;
  color: white;
  width: 100%;
}

.center {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-list-grid {
  width: 300px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  img {
    width: 85%;
    object-fit: contain;
    display: inline-block;
    margin-right: 0.875rem;
    padding: 0.5rem 0;
    border-radius: 30px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.08);
    }
  }
}

.music-poster {
}

.music-des {
  margin-top: 0.5rem;
  .music-name {
    font-size: 1.2rem;
  }
  .music-artist {
    font-size: 0.85rem;
    color: gray;
  }
}
